<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:p="http://primefaces.org/ui">
    <h:head>
    	<script src="http://maps.google.com/maps/api/js?sensor=true|false" type="text/javascript" ></script>
    	<h:outputScript library="js" name="mapfunctions.js" />
        <link rel="shortcut icon" href="resources/images/logo.ico" />
        <h:outputStylesheet library="css" name="styles.css" />
        <title>WMG music shows finder</title>
    </h:head>
    <h:body onload="geocode('#{detailBean.show.address} #{detailBean.show.city} #{detailBean.show.state} #{detailBean.show.countryName}')">
       <p:layout id="mainLayout" fullPage="true">
       		<p:layoutUnit position="north" resizable="false" size="75" styleClass="northLayout">
       			<p:graphicImage value="resources/images/logo.svg" height="60px" />
        		<p:graphicImage value="resources/images/title.png" height="60px"/>
    		</p:layoutUnit>
    		<p:layoutUnit id="centerLayout" position="center">
    		<h1>#{detailBean.show.artist}</h1>
    		<p:panelGrid columns="6">
    			<h:outputLabel for="tour" value="Tour" styleClass="gridlabel"/>
			    <h:outputText id="tour" value="#{detailBean.show.tour}"/>
			    <h:outputLabel for="showId" value="Show id" styleClass="gridlabel"/>
				<h:outputText id="showId" value="#{detailBean.show.showId}"/>
				<h:outputLabel for="title" value="Title" styleClass="gridlabel"/>
				<h:outputText id="title" value="#{detailBean.show.title}"/>
				
				<h:outputLabel for="showDate" value="Date" styleClass="gridlabel"/>
			    <h:outputText id="showDate" value="#{detailBean.show.showDate}"/>
			    <h:outputLabel for="setTime" value="Set time" styleClass="gridlabel"/>
				<h:outputText id="setTime" value="#{detailBean.show.setTime}"/>
				<h:outputLabel for="doorTime" value="Door time" styleClass="gridlabel"/>
				<h:outputText id="doorTime" value="#{detailBean.show.doorTime}"/>
				
				<h:outputLabel for="venueName" value="Venue" styleClass="gridlabel"/>
			    <h:outputText id="venueName" value="#{detailBean.show.venueName}"/>
			    <h:outputLabel for="address" value="Address" styleClass="gridlabel"/>
				<h:outputText id="address" value="#{detailBean.show.address}"/>
				<h:outputLabel for="city" value="City" styleClass="gridlabel"/>
				<h:outputText id="city" value="#{detailBean.show.city}"/>
				
				<h:outputLabel for="state" value="State" styleClass="gridlabel"/>
			    <h:outputText id="state" value="#{detailBean.show.state}"/>
			    <h:outputLabel for="zip" value="ZIP" styleClass="gridlabel"/>
				<h:outputText id="zip" value="#{detailBean.show.zip}"/>
				<h:outputLabel for="country" value="Country" styleClass="gridlabel"/>
				<h:outputText id="country" value="#{detailBean.show.countryName}(#{detailBean.show.country})"/>
			</p:panelGrid>
			<p:spacer height="20px" width="100%"/>
    		<h:form >
	    		<p:gmap id="showgmap" widgetVar="showgmap" center="#{detailBean.mapCenter}" 
	    				model="#{detailBean.model}" zoom="15" type="HYBRID" style="width:100%;height:400px">
	    			<p:ajax event="overlaySelect" listener="#{detailBean.onMarkerSelect}"/>
	    			<p:ajax event="geocode" listener="#{detailBean.onGeocode}" update="@this" />
	    			<p:gmapInfoWindow>
	    				<h:outputText value="#{detailBean.marker.title}"/>
	    			</p:gmapInfoWindow>		
	    		</p:gmap>
    		</h:form>
    		</p:layoutUnit>
		</p:layout>
    </h:body>
</html>