<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:f="http://java.sun.com/jsf/core"
		xmlns:p="http://primefaces.org/ui">
    <h:head>
    	<link rel="shortcut icon" href="resources/images/logo.ico" />
        <h:outputStylesheet library="css" name="styles.css" />
        <title>WMG music shows finder</title>
    </h:head>
    <h:body>
       <p:layout id="mainLayout" fullPage="true">
       		<p:layoutUnit position="north" resizable="false" size="75" styleClass="northLayout">
       			<p:graphicImage value="resources/images/logo.svg" height="60px" />
        		<p:graphicImage value="resources/images/title.png" height="60px"/>
    		</p:layoutUnit>
    		<p:layoutUnit position="west" resizable="true" size="150" minSize="100">
	        	<h:form>
		        	<div>
			        	<p:selectBooleanCheckbox value="#{shows.artistChkbox}">
			        		<p:ajax update="mainDataTable"  />
			        	</p:selectBooleanCheckbox>
			        	<h:outputText value=" Artist" />
		        	</div>
		        	<div>
			        	<p:selectBooleanCheckbox value="#{shows.titleChkbox}">
			        		<p:ajax update="mainDataTable"  />
			        	</p:selectBooleanCheckbox>
			        	<h:outputText value=" Title" />
		        	</div>
		        	<div>
			        	<p:selectBooleanCheckbox value="#{shows.tourChkbox}">
			        		<p:ajax update="mainDataTable"  />
			        	</p:selectBooleanCheckbox>
		        		<h:outputText value=" Tour" />
		        	</div>
		        	<div>
			        	<p:selectBooleanCheckbox value="#{shows.showDateChkbox}">
			        		<p:ajax update="mainDataTable"  />
			        	</p:selectBooleanCheckbox>
		        		<h:outputText value=" Date" />
		        	</div>
		        	<div>
			        	<p:selectBooleanCheckbox value="#{shows.setTimeChkbox}">
			        		<p:ajax update="mainDataTable"  />
			        	</p:selectBooleanCheckbox>
		        		<h:outputText value=" Set time" />
		        	</div>
		        	<div>
			        	<p:selectBooleanCheckbox value="#{shows.venueNameChkbox}">
			        		<p:ajax update="mainDataTable"  />
			        	</p:selectBooleanCheckbox>
		        		<h:outputText value=" Venue name" />
		        	</div>
		        	<div>
			        	<p:selectBooleanCheckbox value="#{shows.addressChkbox}">
			        		<p:ajax update="mainDataTable"  />
			        	</p:selectBooleanCheckbox>
		        		<h:outputText value=" Address" />
		        	</div>
		        	<div>
			        	<p:selectBooleanCheckbox value="#{shows.cityChkbox}">
			        		<p:ajax update="mainDataTable"  />
			        	</p:selectBooleanCheckbox>
		        		<h:outputText value=" City" />
		        	</div>
		        	<div>
			        	<p:selectBooleanCheckbox value="#{shows.stateChkbox}">
			        		<p:ajax update="mainDataTable"  />
			        	</p:selectBooleanCheckbox>
		        		<h:outputText value=" State" />
		        	</div>
		        	<div>
			        	<p:selectBooleanCheckbox value="#{shows.countryChkbox}">
			        		<p:ajax update="mainDataTable"  />
			        	</p:selectBooleanCheckbox>
		        		<h:outputText value=" Country" />
		        	</div>
		        	<div>
			        	<p:selectBooleanCheckbox value="#{shows.buyOnlineChkbox}">
			        		<p:ajax update="mainDataTable"  />
			        	</p:selectBooleanCheckbox>
		        		<h:outputText value=" Buy online" />
		        	</div>
		        	<div>
			        	<p:selectBooleanCheckbox value="#{shows.timezoneChkbox}">
			        		<p:ajax update="mainDataTable"  />
			        	</p:selectBooleanCheckbox>
		        		<h:outputText value=" Time zone" />
		        	</div>
	        	</h:form>
	    	</p:layoutUnit>
    		<p:layoutUnit id="centerLayout" position="center">
    			<p:accordionPanel activeIndex="null" >
    				<p:tab title="Filter" >
    					<h:form id="filterForm">
	    					<p:panelGrid columns="7" >
	    						<h:outputLabel for="filterArtist" value="Artist"/>
				    			<h:inputText id="filterArtist" value="#{shows.filterShow.artist}"/>
				    			<h:outputLabel for="filterCountry" value="Country"/>
								<h:inputText id="filterCountry" value="#{shows.filterShow.countryName}"/>
								<h:outputLabel for="filterTour" value="Tour"/>
								<h:inputText id="filterTour" value="#{shows.filterShow.tour}"/>
							    <h:commandButton value="Apply" action="#{shows.applyShowFilter}" >
							    	<f:ajax execute="@form" />
							    </h:commandButton>
	    					</p:panelGrid>
						</h:form>
    				</p:tab>
       			</p:accordionPanel>
       			<p:dataTable paginator="true" rows="5"
	                 paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
	                 rowsPerPageTemplate="5,10,15" id="mainDataTable" var="show" value="#{shows.shows}" 
	                 selectionMode="single" selection="#{shows.selectedShow}" rowKey="#{show.showId}">
       				<p:column headerText="Artist" visible="#{shows.artistChkbox}">
				        <h:outputText value="#{show.artist}" />
				    </p:column>
				    
				    <p:column headerText="Title" visible="#{shows.titleChkbox}">
				        <h:outputText value="#{show.title}" />
				    </p:column>
				 	
				 	<p:column headerText="Tour" visible="#{shows.tourChkbox}">
				        <h:outputText value="#{show.tour}" />
				    </p:column>
				 
				 	<p:column headerText="Date" visible="#{shows.showDateChkbox}">
				        <h:outputText value="#{show.showDate}">
                			<f:convertDateTime pattern="MM/dd/yyyy" />
           				</h:outputText>
				    </p:column>
				 
				    <p:column headerText="Set time" visible="#{shows.setTimeChkbox}">
				        <h:outputText value="#{show.setTime}">
                			<f:convertDateTime pattern="HH:mm" />
           				</h:outputText>
				    </p:column>
				    
				    <p:column headerText="Venue Name" visible="#{shows.venueNameChkbox}">
				        <h:outputText value="#{show.venueName}" />
				    </p:column>
				    
				 	<p:column headerText="Address" visible="#{shows.addressChkbox}">
				        <h:outputText value="#{show.address}" />
				    </p:column>
				    
				 	<p:column headerText="City" visible="#{shows.cityChkbox}">
				        <h:outputText value="#{show.city}" />
				    </p:column>
				    
				 	<p:column headerText="State" visible="#{shows.stateChkbox}">
				        <h:outputText value="#{show.state}" />
				    </p:column>
				    
				    <p:column headerText="Country name" visible="#{shows.countryChkbox}">
				        <h:outputText value="#{show.countryName}(#{show.country})" />
				    </p:column>
				    
				    <p:column headerText="Buy online" visible="#{shows.buyOnlineChkbox}">
				        <h:outputText value="#{show.buyOnline}" />
				    </p:column>
				    
				 	<p:column headerText="Time zone" visible="#{shows.timezoneChkbox}">
				        <h:outputText value="#{show.timezone}" />
				    </p:column>
				    <p:column headerText="Detail" visible="true">
                        <h:form>
                            <h:commandButton value="Detail" action="#{navigationController.showDetailPage(show)}" />
                        </h:form>
                    </p:column>
				</p:dataTable>
      		</p:layoutUnit>
		</p:layout>
    </h:body>
</html>